.jumbotron-fluid {
    padding: 20px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin-bottom: 0px;
    margin-right: 0px;

}
h1 {
    color: #FFD700;
    font-family: 'Lobster', cursive;
}

.card-deck {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin-bottom: 0px;
    margin-right: 0px;
}
.row-content {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin-bottom: 0px;
    margin-right: 0px;
}

.h5, h3 {
    color: #FFD700;
}

.site-footer {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin-bottom: 0px;
    margin-right: 0px;
}
.card-body {
    background-image: linear-gradient(to right, #120e22, #0d0e14, #1e161f);
    color: white;
    
}
.container-fluid {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin-bottom: 0px;
    margin-right: 0px;
}
a:hover {
    color: #FFD700;
  }
